.ddd-navbar{
    padding: 10px;
    border-bottom: 1px solid black;
}

.center-align{
    text-align: center;
}

.sticky-navbar {
    position: sticky; 
    z-index:100; 
    background-color:white; 
    top:0;
}

.sticky-content-header {
    position: sticky; 
    z-index:100; 
    background-color:white; 
    top:66;
    padding-top:15px;
}

.tile-content > .tile-title {
    color: black;
    font-weight:500;
    font-size:18px;
}

.tile-subtitle {
    color: black;
    font-weight:100;
}

.push-down-from-nav{
    padding-top:15px;
}

.announcement {
    margin-top: 25px;
}